button{
	width: 40px;
}
button#bold {
	font-weight: bold;
}
button#italic{
	font-style: italic;
}
button#underline{
	text-decoration: underline;
}
div.DraftEditor-root {
	border: 1px solid #988177;
	height: 300px;

	/*add scroll bar when content goes beyond border*/
	overflow-y: auto;
	background-image: linear-gradient(to bottom left, #a8ffff, #abb88e); 
}

div.DraftEditor-editorContainer, div.public-DraftEditor-content {
	height: 100%;
}